:root {
    --body-color: black;
    --grid-color: rgb(113, 215, 247);
    --text: rgb(113, 215, 247);
    --grid-color-hover: rgba(113, 215, 247, 0.8);

}


body {
    background-color: var(--body-color);
    color: var(--text);
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.cell {
    background-color: var(--grid-color)
}

.cell.X {
    background-image: url(./images/head-side-brain.svg);
    background-size: 60px; 
    background-position: center;
    background-repeat: no-repeat;
}

.cell.WX {
    background-image: url(./images/wx.svg);
    background-size: 70px; 
    background-position: center;
    background-repeat: no-repeat;
}

.cell.O {
    background-image: url(./images/user-robot.svg);
    background-size: 60px; 
    background-position: center;
    background-repeat: no-repeat;
}
.cell.WO {
    background-image: url(./images/wo.svg);
    background-size: 70px; 
    background-position: center;
    background-repeat: no-repeat;
}

.cell.null:hover {
    background-color: var(--grid-color-hover);
}

button {
    padding: 10px;
    width: 150px;
    justify-self: center;
    border-radius: 25px;
    border: none;
    background-color: #f57dfb;
    font-size: 1.3rem;
    color: aliceblue;
}

button:hover {
    cursor: pointer;
    background-color: #cb72d0;
}

button:active {
    background-color: aliceblue;
    color: #f57dfb;
}

dialog {
    text-align: center;
    position: relative;
    height: 400px;
    width: 300px;
    background-color: var(--grid-color);
    color: black;
    border-radius: 25px;
}

dialog h3 {
    position: absolute;
    top: 50px
}

dialog button {
    position: absolute;
    bottom: 150px;
}

